*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Red Hat Text", sans-serif;
}
h1{
    text-align: left;
    padding-top: 5rem;
    
}

body{
    font-family: "Red Hat Text";
}
.grid_container{
    display: grid;
    height: 60vh;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding-top: 1rem;
    
}

.content_img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: relative;
}

.btn{
    padding: 8px 16px;
    border: 1px solid;
    border-radius: 20px;
    background-color:#fff;
    font-size: 16px;  
    display: block;
    margin:0 auto;
    transform: translateY(-50%);

    }
    .content_txt_grey{
        color: #D1CBC5;
    }

    .content_text{
        font-weight: 800;
    }
    
.text_color{
        color: #C63D0C;
    }

.btn:hover{
    border-color: #C63D0C;
    color: #C63D0C;
}

.btn_sec{
    background-color: #C63D0C;
    border: none;
    padding: 10px 30px;
}

.btn_sec .first_icon{
    margin-right: 10px;
    background-color: #C63D0C;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #fff;
    padding: 2px;
}

.btn_sec .second_icon{
    margin-left: 10px;
    background-color:#C63D0C;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #fff;
    padding: 2px;
    cursor: pointer;
}
.btn_sec .btn_text{
    margin:0 5px;
    color: #fff;
}


.content_text{
    font-size: 16px;
    margin-bottom: 5px;
    line-height: 1.2;
    letter-spacing: 0.75;
    
}
main{
    width: 80vw;
    margin: auto;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.design__img{
            width:200px ;
            position: relative;
            margin: 20px;
            display: inline-block;
            text-align: center;
}

.amount{
    color: #C63D0C;
}

.alone_art{
    background-color:#FFFFFF ;
    padding-top: 5rem;
    margin-left: 2rem;
}

.btn_btnnn{
    background-color: #C83C0E;
    color: white;
    padding: 5px 55px;
    border: none;
    border-radius: 10px;
}

.btn_btmm{
    font-size: 8px;
    border: none;
    margin-top: 1rem;
}
h3{
    color: #C63D0C;
}

@media only screen and (max-width: 768px) {
    .grid_container {
        grid-template-columns: 1fr;
      }
      .btn{
        padding: 4px 8px;
        font-size: 10px;
      }
      .content_text{
        font-size: 10px;
      }
      
    }

